<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <form class="form-horizontal">
      <fieldset>
        <legend>Registro de Jugador</legend>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Nombre completo</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputEmail" placeholder="Nombre" ng-model="jugador.nombre" required>
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-lg-2 control-label">Nacionalidad</label>
          <div class="col-lg-10">
            <input type="number" class="form-control" id="inputEmail" placeholder="Nacionalidad" ng-model="jugador.nacionalidad" required>
          </div>
        </div>
        <!-- TODO: hacer select -->
        <div class="form-group">
          <label for="inputPassword" class="col-lg-2 control-label">Equipo</label>
          <div class="col-lg-10">
            <input type="text" class="form-control" id="inputPassword" placeholder="Equipo" ng-model="jugador.equipo" required>
          </div>
        </div>
        <div class="form-group">
          <div class="col-lg-10 col-lg-offset-2">
            <button type="reset" class="btn btn-default">Cancelar</button>
            <button type="submit" class="btn btn-primary" ng-click="registrar()">Registrar</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
  <div class="col-sm-3"></div>
</div>
